/**
 * @file
 * SCSS file to generate CSS.
 *
 * Footer SCSS.
 */

$assets_path: "../..";
/* Import to basic elements created for site */
@import "../components/_fonts.scss";
@import "_variable.scss";


/**
 * Footer design
 */
footer {
  margin: 70px 0 0;
  h6 {
    display: inline-block;
    width: 100%;
    margin: 70px 0 20px 0;
    font-family: $OpenSans-Light;
    font-size: 22px;
    vertical-align: top;
    text-align: center;
  }
  img {
    display: inline-block;
  }
}
/* End */